html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: slategrey;
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
  color: white;
}
input {
  display: block;
  margin: .25em 0 1em;
}
input[type=text] {
  width: 100%;
  padding: .25em;
}
